<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		<File name="basic" fileName="log/log.log">
			<PatternLayout pattern="%d{dd/MM/yy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</File>
	</Appenders>
	<Loggers>
		<Root level="WARN">
			<AppenderRef ref="console"/>
		</Root>
		<Logger name="it.csttech" level="ALL" additivity="true">
			<AppenderRef ref="basic"/>
		</Logger>
	</Loggers>
</Configuration>
