<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT" >
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="RandomListGenerator" fileName="log/log.log">
			<PatternLayout pattern="%d{dd/MM/yy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		<File name="OptionsHandler" fileName="log/log.log">
			<PatternLayout pattern="%d{dd/MM/yy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="it.csttech" level="DEBUG"  additivity="true" >
			 <AppenderRef ref="RandomListGenerator" />
		</Logger>
		<Logger name="it.csttech.randomnlist" level="DEBUG"  additivity="true" >
			 <AppenderRef ref="OptionsHandler" />
		</Logger>
		<Root level="WARN">
			<AppenderRef ref="STDOUT" level="WARN" />
		</Root>
	</Loggers>
</Configuration>
